body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.dropdown-container {
    margin: 20px;
}

.floor-plan {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

button {
    padding: 5px;
    font-size: 11px;
    cursor: pointer;
}

#imagePopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupImage {
    max-width: 90%;
    max-height: 90vh;
    border-radius: 8px;
    object-fit: contain;
}

/* Example: Resize specific floor images if needed */
#floor2 img {
    width: 80%; /* Adjust width for Floor 2 */
    height: auto;
}

#floor3 img {
    width: 90%; /* Adjust width for Floor 3 */
    height: auto;
}
